#root {
  width: 100%;
  min-height: 100vh;
  font-size: clamp(16px, 2vmin, 40px);

  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
}

main {
  flex: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-containers {
  max-width: 50vw;
  min-width: 40vw;
  padding: 1rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;

  background-color: var(--secondary-black);
  box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.55);
}
