nav {
	padding-bottom: 1rem;

	display: flex;
	justify-content: center;
	gap: 1rem;
}

/* Alignment */
nav + div {
	padding-bottom: .8rem;

	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;

	animation: dropdown .3s ease;
	transform-origin: top;
}

.alignment button {
	padding: .5em 1em;
}

.align-visual {
	width: 3rem;
	height: 3rem;

	border: 2px solid var(--accent-black);
}

.align-visual.top {
	background-image: linear-gradient(to top, var(--secondary-accent) 50%, var(--secondary-main) 50%);
}

.align-visual.right {
	background-image: linear-gradient(to right, var(--secondary-accent) 50%, var(--secondary-main) 50%);
}

.align-visual.left {
	background-image: linear-gradient(to left, var(--secondary-accent) 50%, var(--secondary-main) 50%);
}

/* Color */
.customize label {
	width: fit-content;
	align-items: center;
}

.customize input[type='color'] {
	appearance: none;

	width: 2.5rem;
	height: 2.5rem;
	padding: 0;

	border: none;
	background-color: transparent;
}

.customize input[type='color']::-webkit-color-swatch {
	border-radius: 50%;
	border: .1rem solid var(--secondary-accent);
}

.customize input[type='color']::-moz-color-swatch {
	border-radius: 50%;
	border: .1rem solid var(--secondary-accent);
}

/* Font */
.font {
	flex-direction: column;
	align-items: center;
}

.font input[type='number'] {
	width: 5ch;
	height: 1.1em;
}

.select-font, .font-styles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 1rem;
}

.rubik {
	font-family: Rubik;
}

.archivo {
	font-family: Archivo;
}

.caveat {
	font-family: Caveat;
}
