.document {
	width: 50vw;
	min-height: 100vh;
	margin-right: 1rem;
	margin-bottom: 1rem;
	box-sizing: border-box;
	display: flex;

	background-color: var(--accent);
	color: inherit;
	box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.55);
}

.dark .document {
	background-color: var(--secondary-accent);
	color: var(--main);
}

/* Alignment classes */
.document.top {
	flex-direction: column;
	padding-bottom: 1rem;
}

.document.right {
	flex-direction: row-reverse;
}

.document.left {
	flex-direction: row;
}

.document.top > div {
	padding-left: 2rem;
	padding-right: 2rem;
}

.document > div {
	padding-left: 1rem;
	padding-right: 1rem;
}

.document .head {
	padding-top: 1rem;

	background-color: var(--secondary-main);
	color: var(--accent);
}

.dark .head, .dark .document h2 {
	color: var(--secondary-accent);
}

.document .content {
	flex: 1;
}

/* Contact info container */
.document .contact {
	font-size: .9em;
}

.document .name {
	font-size: 1.8em;
	margin: 1rem 0;
}

.document .education, .document .experience {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 1rem;
}

.document h2 {
	padding: 0.2em .5em;
	grid-column: 1 / -1;
	background-color: #b9b9b9d2;
	color: var(--accent);
}

.document ul {
	list-style: none;
	padding: 0;
}

.document .education .school,
.document .experience .company {
	font-weight: bold;
	font-size: 1.1em;
}

.document .desc {
	line-height: 1;
	margin-top: .8em;
}
