.school-names,
.companies {
	font-size: 1.1em;
	font-weight: 600;
}

.school-names ul,
.companies ul {
	padding: 0;
}

.school-names li,
.companies li {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.icon-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1em;
}

main .education img,
main .exp img {
	width: 1.5em;
	cursor: pointer;
}

.btn-container {
	grid-column: 1 / -1;
	

	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: .5rem;
}

/* "Description" text ('* Required') */
label > span {
	position: absolute;
	top: .2em;
	right: 0;

	font-size: .8em;
	color: var(--secondary-accent);
}
