@font-face {
  font-family: Rubik;
  src: url(../assets/font/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: Archivo;
  src: url(../assets/font/ArchivoNarrow-VariableFont_wght.ttf);
}

@font-face {
  font-family: Caveat;
  src: url(../assets/font/Caveat-VariableFont_wght.ttf);
}

:root {
  font-family: Rubik, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--secondary-accent);
  background-color: var(--main);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.light {
  color-scheme: light;

  --accent: #fafafa;
  --main: #d2d3db;
  --secondary-main: rgba(131 131 131 / 58%);
  --secondary-accent: #484b6a;
  --secondary: #e4e5f1;
}

.dark {
  color-scheme: dark;

  --main: #242424;
  --secondary-main: #383838;
  --secondary-accent: rgba(255, 255, 255, 0.87);
  --accent: #4e4e4e;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--secondary-main);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

form {
  padding: .5rem 0;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

label {
  width: 80%;
  min-width: max-content;
  display: flex;
  flex-direction: column;
  gap: .2rem;

  position: relative;
}

input {
  font-size: .9em;
}

textarea {
  width: 100%;
  height: 5em;
  font-size: .9em;
}

.light .icon {
  filter: invert(29%) sepia(9%) saturate(1725%) hue-rotate(197deg) brightness(95%) contrast(92%);
}

.dark .icon {
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(54deg) brightness(107%) contrast(109%);
	opacity: 0.75;
}

/* Utility classes */
.round-light { border-radius: .5rem; }

.hide { visibility: hidden; }

/* Tablet & under */
@media (width < 1000px) {
  main {
    margin-bottom: 1rem;

    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }

  .form-containers {
    margin: 0;
    align-items: center;
  }

  main .dropdown-menu {
    box-sizing: border-box;
    width: 100%;
  }

  .document {
    margin: 0;
    box-sizing: border-box;
  }

  .document, .form-containers {
    width: 70vw;
    min-width: auto;
    max-width: none;
  }
}

/* Mobile */
@media (width < 550px) {
  header .icon {
    width: 2.5rem;
    top: 5px;
    right: 5px;
  }

  form {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .document {
    width: 85vw;
    padding: 1rem;
  }

  .time-place-container li {
    margin: .5em .5em .5em 0;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
